<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
    <body>
    Hello service

    <p th:text="${hi}"></p>

    <div th:if="${not #lists.isEmpty(listRooms)}">
        <table>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Password</th>
            </tr>
            <tr th:each="room : ${listRooms}">
                <td th:text="${room.roomId}"></td>
                <td th:text="${room.roomName}"></td>
                <td th:if="${room.password.isEmpty()}">NO</td>
                <td th:if="${!room.password.isEmpty()}">YES</td>
                <td>
                    <a th:href="@{/room/join}">JOIN</a>
                </td>
            </tr>
        </table>

    </div>

    <form th:action="@{/logout}" method="post">
        <button type="submit">Logout</button>
    </form>
    </body>
</html>